<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>

<body>

<nav>
<div>
    <a href="/">Home</a>
    <a href="/irc/">IRC</a>
    <a href="/blog/">Blog</a>
</div>
</nav>

<header>
<a href="/">
<span>OSECZ</span>
<img src="/img/osecz-site-logo.svg">
</a>
</header>

<main>
{{ content }}
</main>

<footer>
<div>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fosecz&tabs&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
<div>
    <a href="https://twitter.com/osecz" class="twitter-follow-button" data-show-count="true">Follow @osecz</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/FollowCompany" data-id="18146188" data-counter="right"></script>
</div>
<div>
<p>
    &copy; 2017 OSECZ
</p>
<p>
    This is free and open source website.
    The source code of this website is available at
    <a href="https://github.com/osecz/osecz.org">https://github.com/osecz/osecz.org</a>.
    You are welcome to modify and improve this website under the terms
    of the <a href="/license/">MIT License</a>.
</p>
<p>
    To report bugs, suggest improvements, or ask questions, please visit
    <a href="https://github.com/osecz/osecz.org/issues">https://github.com/osecz/osecz.org/issues</a>.
</p>
</div>
<div class="links">
    <a href="https://github.com/osecz/osecz.org">Source</a>
    <a href="https://github.com/osecz/osecz.org/issues">Issues</a>
    <a href="https://twitter.com/osecz">Twitter</a>
    <a href="https://www.linkedin.com/company/osecz/">LinkedIn</a>
    <a href="https://www.facebook.com/osecz/">Facebook</a>
</div>
</footer>
</html>
