<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>

<body>

<nav>
<div>
    <a href="/"><img src="/img/osecz-bright.png" alt="OSECZ Logo"></a>
    <a href="/">Home</a>
    <a href="/irc/">IRC</a>
    <a href="/blog/">Blog</a>
</div>
</nav>

<main>
{{ content }}
</main>

<footer>
<div>
<div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-page"
         data-href="https://www.facebook.com/osecz"
         data-small-header="true"
         data-adapt-container-width="true"
         data-hide-cover="false"
         data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/osecz"
                    class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/osecz">OSECZ</a>
        </blockquote>
    </div>
</div>
<div>
    <a href="https://twitter.com/osecz"
       class="twitter-follow-button"
       data-show-count="true">Follow @osecz</a>
    <script async src="//platform.twitter.com/widgets.js"></script>
</div>
<div>
    <script src="//platform.linkedin.com/in.js"></script>
    <script type="IN/FollowCompany" data-id="18146188" data-counter="right">
    </script>
</div>
<div>
<p>
    &copy; 2017-2018 OSECZ
</p>
<p>
    This is free and open source website.
    The source code of this website is available on
    <a href="https://github.com/osecz/osecz.org">GitHub</a>.
    You are welcome to modify and improve this website under the terms
    of the <a href="/license/">MIT License</a>.
</p>
<p>
    To report bugs, suggest improvements, or ask questions,
    <a href="https://github.com/osecz/osecz.org/issues">create issues</a>.
</p>
</div>
<div class="links">
    <a href="https://github.com/osecz/osecz.org">Source</a>
    <a href="https://github.com/osecz/osecz.org/issues">Issues</a>
    <a href="/blog/rss.xml">Feed</a>
    <a href="https://twitter.com/osecz">Twitter</a>
    <a href="https://www.linkedin.com/company/osecz/">LinkedIn</a>
    <a href="https://www.facebook.com/osecz/">Facebook</a>
</div>
</div>
</footer>
</html>
